<img src="/img/Marketing.png" class="w-full max-h-full">
<div class="mx-auto max-w-3xl">
    <h1 class="text-3xl my-10 text-white">Trabalho de Tecnicas Avaçadas de Programação Web e Mobile</h1>

    <p class="my-10 text-white text-justify">
        Este trabalho foi feito para demonstrar um CRUD utilizando o frameowork express junto ao banco de dados em nuvem
        Firestore.
        Para esse trabalho foi escolhido o tema de um escritório de advocacia, em que um advogado pode cadastrar os seus
        serviçoes que foram
        recebidos. Para armazenar a sessão do usuário, foi utilizado a biblioteca express-session e para a validação a
        biblioteca express-validator
    </p>

    <h1 class="text-3xl my-10 text-white">Componentes:</h1>
    <ul class="mb-30 text-white">
        <li>Beatriz Aparecida do Valle Martins</li>
        <li>Daniel de Souza Rufino</li>
        <li>Gabriel Lima Freire</li>
        <li>Guilherme Rafael Figueiredo Pereira</li>
    </ul>
    <br>
</div>